 <!DOCTYPE html>
<html>
<title>Restourant || <%=title%></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<!-- style -->
<link rel="stylesheet" type="text/css" href="/style/navMenu.css">
<link rel="stylesheet" type="text/css" href="/style/interyer.css">
<!-- lib -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<body>
<header>


<br><br><br><br><br><br>

		<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top">
			<div class="container navbar-container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Logo</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/rezervasiya">Rezervasiya</a></li>
						<li><a href="/menyu">Menyu</a></li>
						<li><a href="/interyer">Interyer</a></li>
						<li><a href="/haqqimizda">Haqqimizda</a></li>
						<li><a href="/contact">Elaqe</a></li>
						</li>
					</ul>
				</div>
				<div class="top-social">
					<ul id="top-social-menu">
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>



  <main class="grid">
    
    <div class="h1">
      <h1 class=" c-black">Gallery</h1>
    </div>


    <div class="galery">
      <div class="grid">
    <div class="item1">
      <img class="gallery-image img" src="https://media-cdn.tripadvisor.com/media/photo-s/1a/b8/46/6d/london-stock.jpg"
        >
    </div>

    <div class="item2">
      <img class="gallery-image img" src="https://nevberi.com/icerik/uploads/2022/02/home04022-min.jpg"
        >
    </div>

    <div class="item3">
      <img class="gallery-image img" src="https://www.marbeshotel.com/tema/genel/uploads/hizmetler/_a1a8429.jpg"
        >
    </div>

    <div class="item4">
      <img class="gallery-image img" src="https://media.timeout.com/images/105853124/750/422/image.jpg"
        >
    </div>

    <div class="item5">
      <img class="gallery-image img" src="https://cdn.firsatbufirsat.com/files/images/deal-image/image/1200x1200/720/7207259_61e8.jpg?r=2"
        >
    </div>

    <div class="item6">
      <img class="gallery-image img" src="https://divancdn.azureedge.net/divan/media/divan/restaurant/akasya-brasserie/akasya-d_0042-562x370.jpg"
        >
    </div>

    <div class="item7">
      <img class="https://www.google.com/search?q=restaurant&sxsrf=ALiCzsZ22p96OD3aYp9xuNatwiHtUhfnTw:1665886233260&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjbr63p1eP6AhV7X_EDHUiKBSkQ_AUoA3oECAIQBQ&biw=1366&bih=632&dpr=1#imgrc=sR937nIM6VZcqM"
       >
    </div>

    <div class="item8">
      <img class="gallery-image img" src="https://i.nefisyemektarifleri.com/2019/03/01/mikla-restaurant-damaginizi-sasirtacak-gurme-menu-icerigi-2019.jpg"
        >
    </div>

    <div class="item9">
      <img class="gallery-image img" src="https://media-cdn.tripadvisor.com/media/photo-s/22/33/a4/94/caption.jpg"
       >
    </div>

    <div class="item10">
      <img class="gallery-image img" src="https://ramadatire.com/assets/img/taht/taht2.jpg"
        >
    </div>

    <div class="item11">
      <img class="gallery-image img" src="https://mspmag.com/downloads/56998/download/Creekside.jpg?cb=03dfa4f89948c0d117a86de0eb3241ec"
       >
    </div>

    <div class="item12">
      <img class="gallery-image img" src="https://i.pinimg.com/originals/7b/22/02/7b220237a48a9b11dd29c836260f40a1.jpg"
        >
    </div>

    <div class="item13">
      <img class="gallery-image img" src="https://media-cdn.tripadvisor.com/media/photo-s/1a/08/d9/91/salle-du-restaurant.jpg"
       >
    </div>

    <div class="item14">
      <img class="gallery-image img" src="https://media.istockphoto.com/photos/modern-restaurant-interior-design-picture-id1211547141?k=20&m=1211547141&s=170667a&w=0&h=y__cQKe21f2M_IrBmCRdhxs3dCGfwSrVrQJSQMOeWAg="
       >
    </div>

    <div class="item15">
      <img class="gallery-image img" src="https://s7d2.scene7.com/is/image/ritzcarlton/istrz-restaurant-32378?$XlargeViewport100pct$"
       >
    </div>

  </div>


<!-- script -->
<script type="text/javascript" src="/script/navMenu.js"></script>
<script type="text/javascript" src="/script/index.js"></script>

<!-- lib -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html> 